@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
	width: 100%;
}
.header{
	background-image: url(./images/earth.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
 	
ul{
	margin-left: auto;
	margin-right: 20px;
}

.text{
	margin: auto;
	padding-top: 150px;
	margin-top: 50px;

	text-align: center;
	color: white;
	opacity: 0.8;

}

.text button{
	padding-top: 8px;
	padding-bottom: 9px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
	background-color: rgba(220,34,34, 0.5);
	border-color: rgb(220,34,34);
	margin: 10px auto 50px auto;
	margin-bottom: 50px;
	
}

.text button:hover{
	padding-top: 8px;
	padding-bottom: 9px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
	background-color: rgba(220,34,34, 1.0);
	border-color: rgb(220,34,34);
	margin: 10px auto 50px auto;
	margin-bottom: 50px;
	
}



.column {
  text-align: center;
  }

.textcontent h4{
	margin-top: 30px;
	padding-bottom: 5px;
	font-family: sans-serif;
	font-weight: bold;

}

.textcontent p{
	font-size: 16px;
	color: rgb(100,100,100);
}
.textcontent{
	margin-top: 20px;
	margin-bottom: 20px;
}
.Imageportion img{

}


.lt{
	margin-top: 50px;
	text-align: center;
}
.lt p{
	font-size: 15px;
	font-weight: lighter;
	color: rgb(80,80,80);
	padding-top: 8px;
}
.lt h2{
	color: rgb(80,80,80);
}
.lt button{
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(220,34,34);
	border-color: rgb(220,34,34);
	color: rgb(255,255,255);
	margin-bottom: 70px;	
}






.intro p{
	text-align: center;
	font-family: Open Sans;
	color: rgb(190,190,190);
	font-size: 13px;
	

}
.intro h4{
	text-align: center;
	font-family: open sans;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 15px;
	color: rgb(255,255,255);
	margin-top: 20px;

}
.intro{
	background-color:#2f334e;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: center;
}

.column3 {
  float: left;
  width: 25%;
}


.column3 img{
	width: 40px;
	height: 50px;
	
}



.bttm{
	text-align: center;
	color: rgb(196,196,196);
	font-family: sans-serif;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: #212436;
	
}